#left-menu{
	position: relative;

	.highlight{
		background: $gray !important;
	}

	.menu,
	.menu ul,
	.menu ul li,
	.menu ul li a {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  list-style: none;
	  line-height: 1;
	  display: block;
	  position: relative;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}

	.menu {
	  width: 100%;
	  font-family: 'Raleway', sans-serif;
	}

	.menu ul ul {
	  display: none;

	}

	.menu > ul > li.active > ul {
	  display: block;
	}

	.align-right {
	  float: right;
	}

	.menu > ul > li > a {
	  padding: 16px 22px 16px 43px;
	  cursor: pointer;
	  z-index: 2;
	  font-size: 16px;
	  text-decoration: none;
	  color: #ffffff;
	  background: $colors_text;
	  -webkit-transition: color .2s ease;
	  -o-transition: color .2s ease;
	  transition: color .2s ease;
	}

	.menu ul li a:after{
	  position: absolute;
  	  right: 26px;
  	  top: 19px;
  	  z-index: 5;
  	  display: block;
  	  font-size:10px;
 //  	  content: "\f053";
  	  font-family: 'FontAwesome';
	}

	.menu > ul > li > a:hover {
	  color: $light_blue;
	}

	.menu ul > li.has-sub > a:after {
	  position: absolute;
	  right: 26px;
	  top: 19px;
	  z-index: 5;
	  display: block;
	  font-size:10px;
	  content: "\f078";
	  font-family: 'FontAwesome';
	}

	.menu ul > li.has-sub.open > a:after {
	  content: "\f077";
	  font-family: 'FontAwesome';
	}

	.menu ul ul li a {
	  padding: 14px 22px 14px 44px;
	  cursor: pointer;
	  z-index: 2;
	  font-size: 14px;
	  text-decoration: none;
	  color: #000;
	  background: $light_grey;
	  visibility: visible;
	  -webkit-transition: color .2s ease .1s;
	  -o-transition: color .2s ease .1s;
	  transition: color .2s ease .1s;

	}

	.menu ul ul ul li a {
	  padding-left: 32px;
	}

	// .menu ul ul li a:hover {
	//   color: #ffffff;
	// }

	.menu ul ul > li.has-sub > a:after {
  	  content: "\f078";
  	  font-family: 'FontAwesome';
	}

	#account{
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	#account.menu ul > li.has-sub > a:after {
	  position: absolute;
	  right: 26px;
	  top: 19px;
	  z-index: 5;
	  display: block;
	  font-size:10px;
	  content: "\f077";
	  font-family: 'FontAwesome';
	}

	#account.menu ul > li.has-sub.open > a:after {
  	  content: "\f078";
	  font-family: 'FontAwesome';
	}

	li:before{
		content: "\f115";
		font-family: 'FontAwesome';
		display: block;
		position: absolute;
		top: 19px;
		left: 22px;
  	    z-index: 5;
		margin-right: 15px;
		font-size:14px;
		color:white;
	}

	ul ul li:before{
		display: none;
	}

	.home:before{
		content: "\f015" !important;
	}
	.dashboard:before{
		content: "\f0e4" !important;
	}

	.settings:before{
		content: "\f085" !important;
	}

	.admin:before{
		content:"\f0ad" !important;
	}

	.account:before{
		content:"\f007" !important;
	}

	.content:before{
		content:"\f040" !important;
	}

	.appearance:before{
		content:"\f1fc" !important;
	}

	.logout a:after{
		content:"\f08b" !important;
		font-size:14px !important;
	}
}

#top-menu{
	padding:1em 0.75em 1.25em 0.75em;
	li{
		display: inline-block;
		margin-left: 2%;
	}
	.shortcut{
		background:$light_grey;
		color: $gray;
		text-decoration: none;
		padding:0.5em 2em;
		border-radius: 10px;
		font-size: 12px;

		&:hover{
			background:$colorhdr;
			color: $light_grey;
		}

	}
	.add-feature span:before{
		top: 5px;
		border-color: $light_grey;
		color: $light_grey;

	}
	&:hover span:before{
		background-color: $light_grey !important;
		border-color: $dark-gray !important;
		color: $dark-gray;
	}
}

#greeting {
	padding:8em 0.75em 2em 2.5em;
    // background: #4e4e4e;
    color: white;

	// background-image: linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%,rgba(0,0,0,0));
	// background-size: 8px 8px;
	// background-repeat: repeat;


}
.head-bg-image{
	width: 100%;
	height: 100%;
	background-image: url('images/bg-header.jpg');
	background-size: cover;
	background-position: center center;

}

.head-bg-layer{
	background-color: rgba(0,0,0,.5)
}
